@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400&display=swap"); /* Importerar fonter */

:root {
  --primary-color: #ffbb00;
  --background-alpha: rgba(0, 0, 0, 0.205);
  --secondary-color: #ba0000;
  --dark-color: #333333;
  --light-color: #fc9434;
  --danger-color: #ff0000;
  --success-color: #919191;
}

a:hover {
  color: var(--secondary-color);
  transition: ease 0.5s;
}

* {
  box-sizing: border-box;
}

html {
  -moz-scroll-behaviour: smooth;
  -webkit-scroll-behaviour: smooth;
  scroll-behavior: smooth;
}

.link-primary-color {
  color: var(--primary-color);
}

body {
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1)),
    url("../img/bakgrundsbilder/bg4.jpg");
	background-position: center;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Poppins", sans-serif;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body::-webkit-scrollbar {
  display: none;
}


#carouselSlottet {
  border-radius: 5px;
  margin: 2px;
  object-fit: cover;
  border: 1px solid white;
}

#carouselSlottet img {
  max-width: 100%;
  width: 100%;
  
  
 }

.info {
  background: var(--background-alpha);
  padding: 5px;
  border-radius: 5px;
}

span {
  color: rgb(250, 248, 248);
}

.main {
  margin: 0 auto;
  max-width: 900px;
  width: 100%;
}

.content {
  width: 100%;
  background: var(--background-alpha);
  margin-top: 1.5vh;
  border-radius: 10px;
  color: rgb(255, 255, 255);
  padding: 20px;
  display: grid;
  grid-template-columns: auto;
  text-shadow: 2px 2px 4px black;
  justify-content: center;
  align-items: center;
  font-size: 0.9rem;
 
}
.content div {
  justify-content: center;
  align-items: center;
}

.content h1 {
  font-size: 1.7rem;
  padding-bottom: 20px;
  text-align: center;
}
.content h4 {
  text-align: left;
  padding: 10px 0;
}
.row p {
  margin-bottom: 8px;

}

.content p {
  font-size: 0.9rem;
  text-align: left;
}

.restaurangLista {
  display: grid;
  grid-template-columns: 1fr;
  
}
.restaurangLista div {
  background:rgba(0, 0, 0, 0.5);
  padding: 10px;
 
  
 
}

.restaurangLista > div:nth-child(2n) {
  background:none;

  
}

.content div {
  margin-bottom: 20px;
  
}
.content img {
  max-width: 380px;
  
  
}
header {
  text-align: center;
}
header img {
  
  width: 400px;
  height: auto;
}

.img-container {
  font-size: 0.8rem;
  width: 100%;
  width: inherit;
  
  
}
.img-container p {
 color: rgb(161, 161, 161);
}

.jump-menu {
  color: white;
  font-size: 1em;
  background: rgba(0,0,0,0.5);
  border-radius: 4px;
  text-shadow: none;
  text-align: center;
  z-index: 1;
}
.jump-menu a {
  color: var(--primary-color);
}
.jump-menu a:hover {
  color: var(--light-color);
}


/* BOOTSTRAP Justeringar*/
.no-bg {
  background: none;
}
.carousel {
  overflow: hidden;
}
.navbar .navbar-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.navbar .navbar-collapse {
  text-align: center;
}
.img-thumbnail {
  padding: 0;
}

.nav-item {
  background: rgb(255, 255, 255);
  padding: 8px;
  border-radius: 25px;
  margin: 4px;
  
  transition: 1s;
  min-width: 135px;
  
}

.active {
  background-color: var(--primary-color);
}

.navbar-custom {
  font-weight: bold;
}

.navbar-custom .navbar-text{
  color: black;
  
}


.navbar-custom .navbar-nav > li > a {
  color: var(--secondary-color);
  text-shadow: -1px 1px 1px 5px black;
}
.nav-link a {
  color: var(--secondary-color);;
}


.nav-item:hover {
  background: var(--primary-color);
}
.w-45 {
  width: 45%;
}

.row {
  border-bottom: 2px solid var(--primary-color);
  padding: 10px;
  
}

:target h4 {
  color: var(--primary-color);
}

.figure-caption {
  color: rgb(211, 211, 211);
 
}

.navbar-toggler {
  color: var(--secondary-color);
  text-shadow: 2px 2px 3px rgb(59, 59, 59);
  font-weight: bold;
  
}
.navbar-toggler img {

  width: 30px;
  height: auto;
}


/* RESPONSIVITET */
@media all and (max-width: 1000px) {
.content {
    grid-template-columns: auto;
  }
 .nav-item {
    border-radius: 5px;
    font-size: 76%;
    width: 100%;
    justify-content: center;
    padding: 0;
    min-width: 135px;
    
   }
   .navbar ul {
     margin-top: 10px;
   }
 
  .nav-item a{
    background: none;
    color: red;
  }

  .content {
    margin-top: 10px;
    width: 100%;
    
  }
 
  .main {
    width: 100%;
  }

  .w-45 {
    width: 100%;
  }
  
  .nav-item ul {
    text-align: center;
  }

}

@media all and (max-width: 600px) {
  header img {
  max-width: 250px;
}
.content img {
  max-width: 300px;
}
.jump-menu { 
  display: none;
  font-size: 0.9em;
}

}